<h1 style="padding-top: 40px">Bem vindo a loja de informática WeChip</h1>
<p>Aplicação foi desenvolvida com seguintes frameworks:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para código server-side</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para código client-side</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> e <a href='https://primefaces.org/'>PrimeNg</a> para layout e estilo</li>
</ul>